<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TakeTask</title>
<!-- Lib files -- Starts -->
<script src="lib/angular.min.js"></script>
<!-- Lib files -- Ends -->

<!-- App files -- Starts -->
<script src="scripts/TakeTask.App.js"></script>
<script src="scripts/TakeTask.CONSTANTS.js"></script>
<!-- App files -- Ends -->


</head>
<body ng-app="TakeTask">
	<div ng-controller="ListTaskInProgress">
		<div>
			<input type="text" ng-model="search.$" />
		</div>
		<ul>
			<li ng-repeat="task in taskList | filter:search"><span>{{task.title}}</span>
				<p>{{task.category}}</p>
				<p>{{task.status}}</p></li>
		</ul>
	</div>
</body>
</html>